<center>

## Top 10 Categories by Average Total Duration

</center>

### Import Dependencies

In [52]:
import pandas as pd
from datetime import datetime

### Load Parquet Files

In [53]:
crime_parquet_path = "src/nyc_data_crime.parquet"
potential_parquet_path = "src/nyc_data_potential_crime.parquet"
crime_df = pd.read_parquet(crime_parquet_path)
potential_crime_df = pd.read_parquet(potential_parquet_path)

In [54]:
crime_df.head()

,cad_evnt_id,create_date,incident_date,incident_time,nypd_pct_cd,boro_nm,patrl_boro_nm,geo_cd_x,geo_cd_y,radio_code,typ_desc,cip_jobs,add_ts,arrivd_ts,disp_ts,closng_ts,latitude,longitude
0,99844077,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,00:01:13,6,MANHATTAN,PATROL BORO MAN SOUTH,981882,209075,39H2,OTHER CRIMES (IN PROGRESS): HARASSMENT/OUTSIDE,Non Critical,2024-01-01T00:01:13.000,2024-01-01T00:07:07.000,2024-01-01T00:04:49.000,2024-01-01T00:09:19.000,40.740547,-74.008547
1,99844080,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,00:01:21,103,QUEENS,PATROL BORO QUEENS SOUTH,1042321,195155,39H1,OTHER CRIMES (IN PROGRESS): HARASSMENT/INSIDE,Non Critical,2024-01-01T00:01:21.000,2024-01-01T00:24:19.000,2024-01-01T00:04:00.000,2024-01-01T00:47:24.000,40.702150,-73.790564
2,99844104,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,00:03:04,44,BRONX,PATROL BORO BRONX,1004911,240882,39Q9,OTHER CRIMES (IN PROGRESS): OTHER/TRANSIT,Non Critical,2024-01-01T00:03:04.000,2024-01-01T00:03:04.000,2024-01-01T00:03:04.000,2024-01-01T00:03:12.000,40.827825,-73.925345
3,99844141,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,00:05:51,70,BROOKLYN,PATROL BORO BKLYN SOUTH,994965,166160,34Q6,ASSAULT (IN PROGRESS): OTHER/FAMILY,Serious,2024-01-01T00:05:51.000,2024-01-01T00:13:35.000,2024-01-01T00:07:20.000,2024-01-01T00:39:15.000,40.622749,-73.961403
4,99844289,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,00:14:21,24,MANHATTAN,PATROL BORO MAN NORTH,992586,227883,50P2,DISORDERLY: PERSON/OUTSIDE,Non CIP,2024-01-01T00:14:21.000,2024-01-01T01:51:17.000,2024-01-01T00:16:42.000,2024-01-01T02:04:04.000,40.792167,-73.969896

In [55]:
potential_crime_df.head()

,cad_evnt_id,create_date,incident_date,incident_time,nypd_pct_cd,boro_nm,patrl_boro_nm,geo_cd_x,geo_cd_y,radio_code,typ_desc,cip_jobs,add_ts,arrivd_ts,disp_ts,closng_ts,latitude,longitude
0,100172115,2024-01-15T00:00:00.000,2024-01-15T00:00:00.000,09:25:52,25,MANHATTAN,PATROL BORO MAN NORTH,1001940,231217,52D6,DISPUTE: FAMILY,Non CIP,2024-01-15T09:25:52.000,2024-01-15T09:41:07.000,2024-01-15T09:28:11.000,2024-01-15T10:54:46.000,40.801304,-73.936106
1,101240485,2024-02-29T00:00:00.000,2024-02-29T00:00:00.000,15:39:38,103,QUEENS,PATROL BORO QUEENS SOUTH,1041172,197409,52D1,DISPUTE: INSIDE,Non CIP,2024-02-29T15:39:38.000,2024-02-29T17:04:52.000,2024-02-29T16:11:20.000,2024-02-29T17:22:41.000,40.708344,-73.794689
2,101240486,2024-02-29T00:00:00.000,2024-02-29T00:00:00.000,15:39:41,73,BROOKLYN,PATROL BORO BKLYN NORTH,1006640,185698,52D1,DISPUTE: INSIDE,Non CIP,2024-02-29T15:39:41.000,2024-02-29T16:16:49.000,2024-02-29T15:45:26.000,2024-02-29T16:20:54.000,40.676355,-73.919282
3,103331166,2024-05-24T00:00:00.000,2024-05-24T00:00:00.000,03:09:20,94,BROOKLYN,PATROL BORO BKLYN NORTH,997973,199434,52D2,DISPUTE: OUTSIDE,Non CIP,2024-05-24T03:09:20.000,2024-05-24T03:22:21.000,2024-05-24T03:13:21.000,2024-05-24T03:28:35.000,40.714075,-73.950500
4,103474310,2024-05-29T00:00:00.000,2024-05-29T00:00:00.000,18:30:00,79,BROOKLYN,PATROL BORO BKLYN NORTH,1000922,186700,52D6,DISPUTE: FAMILY,Non CIP,2024-05-29T18:30:00.000,2024-05-29T19:22:02.000,2024-05-29T18:53:43.000,2024-05-29T19:49:38.000,40.679118,-73.939893

### Calculating the duration of call

In [56]:
crime_df['call_duration_minutes'] = (pd.to_datetime(crime_df['closng_ts']) - pd.to_datetime(crime_df['incident_date'] + ' ' + crime_df['incident_time'])).dt.total_seconds() / 60.0

/var/folders/cv/c0bbdf8j0dz1svn4kqg52s040000gn/T/ipykernel_88700/2555715931.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_df['call_duration_minutes'] = (pd.to_datetime(crime_df['closng_ts']) - pd.to_datetime(crime_df['incident_date'] + ' ' + crime_df['incident_time'])).dt.total_seconds() / 60.0

In [57]:
crime_df.loc[:,['incident_date','incident_time','closng_ts','call_duration_minutes']].head(10)

,incident_date,incident_time,closng_ts,call_duration_minutes
0,2024-01-01T00:00:00.000,00:01:13,2024-01-01T00:09:19.000,8.100000
1,2024-01-01T00:00:00.000,00:01:21,2024-01-01T00:47:24.000,46.050000
2,2024-01-01T00:00:00.000,00:03:04,2024-01-01T00:03:12.000,0.133333
3,2024-01-01T00:00:00.000,00:05:51,2024-01-01T00:39:15.000,33.400000
4,2024-01-01T00:00:00.000,00:14:21,2024-01-01T02:04:04.000,109.716667
5,2024-01-01T00:00:00.000,00:14:29,2024-01-01T01:00:01.000,45.533333
6,2024-01-01T00:00:00.000,00:15:43,2024-01-01T02:10:41.000,114.966667
7,2024-01-01T00:00:00.000,00:16:09,2024-01-01T00:46:12.000,30.050000
8,2024-01-01T00:00:00.000,00:16:10,2024-01-01T01:11:44.000,55.566667
9,2024-01-01T00:00:00.000,00:16:49,2024-01-01T01:04:52.000,48.050000

In [58]:
potential_crime_df['call_duration_minutes'] = (pd.to_datetime(potential_crime_df['closng_ts']) - pd.to_datetime(potential_crime_df['incident_date']+ ' ' + potential_crime_df['incident_time'])).dt.total_seconds() / 60.0

/var/folders/cv/c0bbdf8j0dz1svn4kqg52s040000gn/T/ipykernel_88700/114364935.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  potential_crime_df['call_duration_minutes'] = (pd.to_datetime(potential_crime_df['closng_ts']) - pd.to_datetime(potential_crime_df['incident_date']+ ' ' + potential_crime_df['incident_time'])).dt.total_seconds() / 60.0

In [59]:
potential_crime_df.loc[:,['incident_date','incident_time','closng_ts','call_duration_minutes']].head(10)

,incident_date,incident_time,closng_ts,call_duration_minutes
0,2024-01-15T00:00:00.000,09:25:52,2024-01-15T10:54:46.000,88.900000
1,2024-02-29T00:00:00.000,15:39:38,2024-02-29T17:22:41.000,103.050000
2,2024-02-29T00:00:00.000,15:39:41,2024-02-29T16:20:54.000,41.216667
3,2024-05-24T00:00:00.000,03:09:20,2024-05-24T03:28:35.000,19.250000
4,2024-05-29T00:00:00.000,18:30:00,2024-05-29T19:49:38.000,79.633333
5,2024-01-01T00:00:00.000,00:00:47,2024-01-01T00:43:59.000,43.200000
6,2024-01-01T00:00:00.000,00:00:50,2024-01-01T00:31:38.000,30.800000
7,2024-01-01T00:00:00.000,00:01:14,2024-01-01T02:28:06.000,146.866667
8,2024-01-01T00:00:00.000,00:01:30,2024-01-01T00:14:36.000,13.100000
9,2024-01-01T00:00:00.000,00:02:52,2024-01-01T00:16:42.000,13.833333

### Calculating top 10 category by call duration

In [60]:
crime_category_by_call_duration = crime_df.groupby('typ_desc')['call_duration_minutes'].median().sort_values(ascending=False)

In [61]:
crime_category_by_call_duration.head(20)

typ_desc
ASSAULT (IN PROGRESS): SHOTS/LTD ACC HWY     413.025000
ASSAULT (PAST): SHOTS/CHILD ABUSE            220.833333
ASSAULT (PAST): SHOTS/TRANSIT                201.833333
LARCENY (PAST): FROM PERSON/LTD ACC HWY      185.333333
BURGLARY (PAST): OTHER/SCHOOL                184.933333
ASSAULT (PAST): OTHER/CHILD ABUSE            179.400000
LARCENY (PAST): FROM PERSON/SCHOOL           175.408333
ASSAULT (PAST): WEAPON/CHILD ABUSE           173.733333
ASSAULT (PAST): KNIFE/CHILD ABUSE            173.366667
LARCENY (PAST): OTHER/LTD ACC HWY            168.433333
BURGLARY (PAST): COMMERCIAL                  167.500000
OTHER CRIMES (PAST): OTHER/SCHOOL            160.733333
BURGLARY (PAST): OTHER                       156.033333
LARCENY (PAST): VEHICLE/INSIDE               152.933333
BURGLARY (IN PROGRESS): OTHER/LTD ACC HWY    151.316667
LARCENY (PAST): VEHICLE/OUTSIDE              141.066667
ASSAULT (IN PROGRESS): SHOTS/OUTSIDE         139.025000
ASSAULT (PAST): KNIFE/INSIDE                 138.183333
LARCENY (PAST): OTHER/SCHOOL                 136.475000
DISORDERLY: NOISE/LTD ACC HWY                129.766667
Name: call_duration_minutes, dtype: float64

In [ ]:
potential_crime_category_by_call_duration = potential_crime_df.groupby('typ_desc')['call_duration_minutes'].median().sort_values(ascending=False)

In [63]:
potential_crime_category_by_call_duration.head(20)

typ_desc
SUSP LETTER: OUTSIDE                                   285.350000
INVESTIGATE/POSSIBLE CRIME: MARIJUANA/SCHOOL           124.983333
SUSP LETTER: SCHOOL                                    114.650000
PO/SECURITY HOLDING SUSPECT: CIV CLOTHES/INSIDE        112.900000
INVESTIGATE/POSSIBLE CRIME: NARCO SALES/LTD ACC HWY    111.041667
PO/SECURITY HOLDING SUSPECT: UNKNOWN/INSIDE            108.041667
PO/SECURITY HOLDING SUSPECT: UNKNOWN                   105.433333
PO/SECURITY HOLDING SUSPECT: UNIFORM/INSIDE            102.558333
SUSP LETTER: INSIDE                                    100.300000
SUSP PACKAGE: LTD ACC HWY                               95.025000
SUSP SUBSTANCE: INSIDE                                  93.916667
PO/SECURITY HOLDING SUSPECT: UNIFORM/OUTSIDE            93.000000
INVESTIGATE/POSSIBLE CRIME: POSSIBLE CHILD ABUSE        87.175000
INVESTIGATE/POSSIBLE CRIME: OTHER/SCHOOL                85.366667
PO/SECURITY HOLDING SUSPECT: UNKNOWN/OUTSIDE            84.916667
DISPUTE: VIOL ORDER PROTECT/SCHOOL                      83.300000
DISPUTE: VIOL ORDER PROTECT/FAMILY                      81.416667
SUSP PACKAGE: INSIDE                                    77.016667
EXPLOSIVE DEVICE OR THREAT: POSSIBLE BOMB/SCHOOL        76.316667
DISPUTE: FAMILY                                         76.116667
Name: call_duration_minutes, dtype: float64

### Slicing data for top 10 category for visualization in d3

In [64]:
crime_categories = crime_category_by_call_duration.head(10).index.tolist()

In [65]:
crime_categories_df = crime_df[crime_df['typ_desc'].isin(crime_categories)]
crime_categories_df.shape

(821, 19)

In [66]:
crime_categories_df.head()

,cad_evnt_id,create_date,incident_date,incident_time,nypd_pct_cd,boro_nm,patrl_boro_nm,geo_cd_x,geo_cd_y,radio_code,typ_desc,cip_jobs,add_ts,arrivd_ts,disp_ts,closng_ts,latitude,longitude,call_duration_minutes
374,99848467,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,04:18:27,66,BROOKLYN,PATROL BORO BKLYN SOUTH,989894,173886,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T04:18:27.000,2024-01-01T06:19:53.000,2024-01-01T06:03:54.000,2024-01-01T10:01:04.000,40.643960,-73.979664,342.616667
868,99853221,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,10:55:53,113,QUEENS,PATROL BORO QUEENS SOUTH,1040533,184616,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T10:55:53.000,2024-01-01T11:17:02.000,2024-01-01T11:00:34.000,2024-01-01T13:54:46.000,40.673234,-73.797101,178.883333
1087,99855303,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,13:38:06,40,BRONX,PATROL BORO BRONX,1005118,237542,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T13:38:06.000,2024-01-01T13:53:16.000,2024-01-01T13:39:15.000,2024-01-01T15:01:39.000,40.818657,-73.924608,83.550000
1454,99859049,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,17:17:22,76,BROOKLYN,PATROL BORO BKLYN SOUTH,987206,188576,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T17:17:22.000,2024-01-01T17:25:22.000,2024-01-01T17:23:41.000,2024-01-01T19:58:48.000,40.684282,-73.989343,161.433333
2548,99871527,2024-01-02T00:00:00.000,2024-01-02T00:00:00.000,09:17:21,42,BRONX,PATROL BORO BRONX,1009691,239131,21Q5,BURGLARY (PAST): OTHER/SCHOOL,Non CIP,2024-01-02T09:17:22.000,2024-01-02T10:46:31.000,2024-01-02T10:23:41.000,2024-01-02T12:04:35.000,40.823007,-73.908080,167.233333

In [67]:
potential_crime_categories = potential_crime_category_by_call_duration.head(10).index.tolist()

In [68]:
potential_crime_categories_df = potential_crime_df[potential_crime_df['typ_desc'].isin(potential_crime_categories)]
potential_crime_categories_df.shape

(7396, 19)

In [69]:
crime_categories_df.head()

,cad_evnt_id,create_date,incident_date,incident_time,nypd_pct_cd,boro_nm,patrl_boro_nm,geo_cd_x,geo_cd_y,radio_code,typ_desc,cip_jobs,add_ts,arrivd_ts,disp_ts,closng_ts,latitude,longitude,call_duration_minutes
374,99848467,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,04:18:27,66,BROOKLYN,PATROL BORO BKLYN SOUTH,989894,173886,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T04:18:27.000,2024-01-01T06:19:53.000,2024-01-01T06:03:54.000,2024-01-01T10:01:04.000,40.643960,-73.979664,342.616667
868,99853221,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,10:55:53,113,QUEENS,PATROL BORO QUEENS SOUTH,1040533,184616,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T10:55:53.000,2024-01-01T11:17:02.000,2024-01-01T11:00:34.000,2024-01-01T13:54:46.000,40.673234,-73.797101,178.883333
1087,99855303,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,13:38:06,40,BRONX,PATROL BORO BRONX,1005118,237542,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T13:38:06.000,2024-01-01T13:53:16.000,2024-01-01T13:39:15.000,2024-01-01T15:01:39.000,40.818657,-73.924608,83.550000
1454,99859049,2024-01-01T00:00:00.000,2024-01-01T00:00:00.000,17:17:22,76,BROOKLYN,PATROL BORO BKLYN SOUTH,987206,188576,24Q7,ASSAULT (PAST): OTHER/CHILD ABUSE,Non CIP,2024-01-01T17:17:22.000,2024-01-01T17:25:22.000,2024-01-01T17:23:41.000,2024-01-01T19:58:48.000,40.684282,-73.989343,161.433333
2548,99871527,2024-01-02T00:00:00.000,2024-01-02T00:00:00.000,09:17:21,42,BRONX,PATROL BORO BRONX,1009691,239131,21Q5,BURGLARY (PAST): OTHER/SCHOOL,Non CIP,2024-01-02T09:17:22.000,2024-01-02T10:46:31.000,2024-01-02T10:23:41.000,2024-01-02T12:04:35.000,40.823007,-73.908080,167.233333

### Export file as csv

In [70]:
crime_categories_df.to_csv('src/nyc_data_crime_top_10_categories_by_call_duration.csv', index=False)
potential_crime_categories_df.to_csv('src/nyc_data_potential_crime_top_10_categories_by_call_duration.csv', index=False)

### Saving the bottom 10 category by average total duration

In [75]:
crime_category_by_call_duration_b10 = crime_df.groupby('typ_desc')['call_duration_minutes'].median().sort_values(ascending=True)
potential_crime_category_by_call_duration_b10 = potential_crime_df.groupby('typ_desc')['call_duration_minutes'].median().sort_values(ascending=True)

crime_categories_b10 = crime_category_by_call_duration_b10.head(10).index.tolist()
potential_crime_categories_b10 = potential_crime_category_by_call_duration_b10.head(10).index.tolist()

crime_categories_df_b10 = crime_df[crime_df['typ_desc'].isin(crime_categories_b10)]
potential_crime_categories_df_b10 = potential_crime_df[potential_crime_df['typ_desc'].isin(potential_crime_categories_b10)]

In [76]:
crime_categories_df_b10.to_csv('src/nyc_data_crime_bottom_10_categories_by_call_duration.csv', index=False)
potential_crime_categories_df_b10.to_csv('src/nyc_data_potential_crime_bottom_10_categories_by_call_duration.csv', index=False)